{{ with page.Params.hide_footer }}

{{ else }}

  {{ $lang := .Site.Language.Lang }}
  {{ $info := index site.Data.info $lang }}
  <footer class="mt-20">
    <h6 class="underline-offset-3"><a href="mailto:{{ site.Params.mail }}">{{ site.Data.info.email }}</a></h6>
    <h6>{{ $info.phone }}</h6>
    <h6>{{ $info.location }}</h6>
    <h6><a href="{{ site.Data.info.instagram }}" target="_blank">Instagram</a>, <a href="{{ site.Data.info.facebook }}" target="_blank">Facebook</a></h6>
  </footer>

{{ end }}