{{- $imgBase := "" -}}
{{- $src := $.Page.Resources.GetMatch (printf "%s%s" $imgBase (.Get "src")) -}}
{{- $alt := .Get "alt" -}}
{{- $imgClass := "w-full h-auto animate-fade" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}

{{- $webp1x := "" -}}
{{- $webp2x := "" -}}

{{ with $src }}
  {{ $webp1x = (.Resize "1280x q90 webp").RelPermalink }}
  {{ $webp2x = (.Resize "2560x q90 webp").RelPermalink }}
{{ end }}

{{/* Fallbacks if no image found */}}
{{ if not $webp1x }}{{ $webp1x = "/images/fallback.webp" }}{{ end }}
{{ if not $webp2x }}{{ $webp2x = "/images/fallback.webp" }}{{ end }}

<div>
  <picture>
    <source
      type="image/webp"
      srcset="{{ $webp1x }} 1x, {{ $webp2x }} 2x"
      sizes="{{ $dataSzes }}">
    <img
      class="{{ $imgClass }} mt-4"
      src="{{ $webp1x }}"
      srcset="{{ $webp1x }} 1x, {{ $webp2x }} 2x"
      alt="{{ $alt }}"
      loading="lazy"
      decoding="async"
    >
  </picture>
</div>